*.cache
*.exe
*.la
*.lo
*.log
*.o
*.osm
*.osm.pbf
*.png
*.so
*.status
*~
.*.sw?
.deps
.dirstamp
.libs
.nfs*
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/compile
/config.guess
/config.h
/config.h.in
/config.sub
/configure
/configure.lineno
/depcomp
/install-sh
/libtool
/log.txt
/ltmain.sh
/m4
/missing
/stamp-h1
OsmRender
core
core.*
vgcore.*
